
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Alice', serif;
  line-height: 1.5;
  color: #573a37;
  --primary-color: #f0e8c2;
  --secondary-color: #291b1a;
  --transition-duration: 0.3s;
}

body {
  background-image: url(/assets/bg-image.jpg);
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  font-size: 16px;
  margin: 0;
  overflow-x: hidden; 
}

#page {
  max-width: 800px;
  padding: 24px;
  background-color: var(--primary-color);
  border-radius: 24px;
  margin: 48px auto 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform var(--transition-duration) ease-in-out;
  transform: translateY(4px); 
  will-change: transform; 
}

#page:hover {
  transform: translateY(-4px);
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: transform var(--transition-duration) ease-in-out;
}

img:hover {
  transform: scale(1.05); 
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1,
h2 {
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  animation: fadeIn 1s ease-in-out forwards; 

}

h2 {
  font-size: 1.5rem;
}

ul {
  padding-left: 24px;
}

footer {
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 48px;
  position: relative;
}

footer::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width var(--transition-duration) ease-in-out;
}

footer:hover::after {
  width: 100%; 
}

footer img {
  vertical-align: middle;
  margin-bottom: -4px;
  transition: filter var(--transition-duration) ease-in-out;
}

footer img:hover {
  filter: brightness(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  #page {
    width: 100%;
    padding: 16px;
  }
  
  img {
    height: auto;
  }
}
